Node_Red_Flow
[{"id":"24fe4ec9.e991c2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ac7bc3.e1bde44","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["6fccb0e.2284e5"]]},{"id":"9f8eb4c8.3efeb8","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["4161eba0.5b5e14"]]},{"id":"5274ec5.c355114","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["bb544df9.d7491"]]},{"id":"6a81e24c.33ef4c","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["914fa8d7.639758"]]},{"id":"63d46087.146da","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["e53e399e.6654f8"]]},{"id":"6fccb0e.2284e5","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/Mailbox","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":80,"wires":[["2f68f8ec.084618"]]},{"id":"4161eba0.5b5e14","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/numberLetter","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":180,"wires":[["7aee7b82.7e8514"]]},{"id":"bb544df9.d7491","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/RedLetter","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":300,"wires":[["1ae9b422.2b9e6c"]]},{"id":"914fa8d7.639758","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/purpleLetter","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":420,"wires":[["a2419d84.ea82a"]]},{"id":"e53e399e.6654f8","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/GreenLetter","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":500,"wires":[["bb361607.819198"]]},{"id":"2f68f8ec.084618","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":1,"width":7,"height":3,"gtype":"gage","title":"Number of Mailboxes","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":80,"wires":[]},{"id":"7aee7b82.7e8514","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":2,"width":7,"height":3,"gtype":"gage","title":"Number of Letters","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":180,"wires":[]},{"id":"1ae9b422.2b9e6c","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":6,"width":7,"height":3,"gtype":"gage","title":"Number of Red Letters","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":300,"wires":[]},{"id":"a2419d84.ea82a","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":7,"width":7,"height":3,"gtype":"gage","title":"Number of Purple Letters","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":420,"wires":[]},{"id":"bb361607.819198","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":8,"width":7,"height":3,"gtype":"gage","title":"Number of Green Letters","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":500,"wires":[]},{"id":"154d7353.62d33d","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["f0e19ec0.52264"]]},{"id":"e0beb014.6a40b","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["d176f112.adf76"]]},{"id":"3868a19b.fdc78e","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["706c9ea4.87567"]]},{"id":"f0e19ec0.52264","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/mailOne","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":640,"wires":[["6e37210d.963c2"]]},{"id":"d176f112.adf76","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/mailTwo","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":760,"wires":[["dd343c57.d7f44"]]},{"id":"706c9ea4.87567","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/mailThree","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":880,"wires":[["7983d595.879f1c"]]},{"id":"6e37210d.963c2","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":12,"width":7,"height":3,"gtype":"gage","title":"Number of Letters in Mail One","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":640,"wires":[]},{"id":"dd343c57.d7f44","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":13,"width":7,"height":3,"gtype":"gage","title":"Number of Letters in Mail Two","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":760,"wires":[]},{"id":"7983d595.879f1c","type":"ui_gauge","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","order":14,"width":7,"height":3,"gtype":"gage","title":"Number of Letters in Mail Three","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#0056b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":880,"wires":[]},{"id":"3cfb8cf4.82cff4","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1040,"wires":[["2939bf00.cbd132"]]},{"id":"2939bf00.cbd132","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/sayOne","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":1060,"wires":[["36b83455.cb6dbc"]]},{"id":"36b83455.cb6dbc","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":18,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":680,"y":1060,"wires":[["f7bde1fa.7ab72"]]},{"id":"2558684e.9c3ea8","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1160,"wires":[["e904f9f5.e05328"]]},{"id":"e904f9f5.e05328","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/sayTwo","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":1180,"wires":[["cd3a2403.006d28"]]},{"id":"cd3a2403.006d28","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":20,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":700,"y":1180,"wires":[["f7bde1fa.7ab72"]]},{"id":"8ac2d17c.f247a","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1280,"wires":[["8e66c1e2.5690e"]]},{"id":"8e66c1e2.5690e","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/sayThree","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":1300,"wires":[["98cf4f39.3dec5"]]},{"id":"98cf4f39.3dec5","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":22,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":680,"y":1300,"wires":[["f7bde1fa.7ab72"]]},{"id":"4a35e0b9.ee944","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1400,"wires":[["d74b9c0.0f89e68"]]},{"id":"d74b9c0.0f89e68","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/sayFour","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":1420,"wires":[["17281ea1.bb9fe1"]]},{"id":"17281ea1.bb9fe1","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":24,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":700,"y":1420,"wires":[["f7bde1fa.7ab72"]]},{"id":"728f3f92.6c399","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1500,"wires":[["37d90e63.4245e2"]]},{"id":"37d90e63.4245e2","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/sayFive","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":1520,"wires":[["28fc4cdc.2bc2c4"]]},{"id":"28fc4cdc.2bc2c4","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":19,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":700,"y":1520,"wires":[["f7bde1fa.7ab72"]]},{"id":"f6d1c21.8134e4","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1620,"wires":[["2d8b6215.06b6de"]]},{"id":"2d8b6215.06b6de","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/saySix","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":1640,"wires":[["bd11f818.e1d718"]]},{"id":"bd11f818.e1d718","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":21,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":1640,"wires":[["f7bde1fa.7ab72"]]},{"id":"75f28766.72fa28","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1740,"wires":[["6ee68d4c.9c4624"]]},{"id":"6ee68d4c.9c4624","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/saySeven","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":1760,"wires":[["1aaa1804.619558"]]},{"id":"1aaa1804.619558","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":23,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":700,"y":1760,"wires":[["f7bde1fa.7ab72"]]},{"id":"41aefe6c.82f3","type":"inject","z":"24fe4ec9.e991c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1860,"wires":[["498da425.c9520c"]]},{"id":"498da425.c9520c","type":"file in","z":"24fe4ec9.e991c2","name":"","filename":"/home/debian/scuttle/sayEight","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":1880,"wires":[["a24c4755.3be5e8"]]},{"id":"a24c4755.3be5e8","type":"ui_text_input","z":"24fe4ec9.e991c2","name":"","label":"","tooltip":"","group":"9586a43a.1e0a08","order":25,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":1880,"wires":[["f7bde1fa.7ab72"]]},{"id":"f7bde1fa.7ab72","type":"ui_audio","z":"24fe4ec9.e991c2","name":"","group":"9586a43a.1e0a08","voice":"en-US","always":true,"x":900,"y":1080,"wires":[]},{"id":"9586a43a.1e0a08","type":"ui_group","z":"","name":"Scuttle","tab":"ead16cd8.d7d2e","order":1,"disp":true,"width":30,"collapse":false},{"id":"ead16cd8.d7d2e","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]
